<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
  <title>About Page</title>
</head>
<body>
  <div id="content">
    <h1>Welcome to about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde debitis, placeat laudantium assumenda iure veritatis culpa nulla explicabo tenetur eveniet dignissimos voluptate enim sequi porro? Officia veniam qui quidem maxime.</p>
  </div>
  <script>
    console.log("about page");
  </script>
  <script>
    console.log("second about page");
  </script>
</body>
</html>