<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
       <title>Document</title>
       <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
       <link rel="stylesheet" data-th-href="@{'/css/output.css'}"  />      
       
    </head>
    <body>
        <div class="bg-gray-200 w-1/2 p-4 flex flex-col justify-center space-y-3 mx-auto mt-4">
            <h1 class="text-2xl font-bold" data-th-text="${name}"> Welcome to the homepage </h1>
            <p class="text-xl text-gray-700"> Organization name : <span data-th-text="${Organization}"></span></p>
            <p> Git-hub Url link : <span th:text="${GithubUrl}"></span></p>
            <a th:href="${GithubUrl}">Click here to open</a>
            <p class="text-gray-600">This is my paragraph</p>
            <div >
                <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-500" > click here</button>
            </div>
            
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    </body>
</html>